@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="row">

        <div class="col-md-6">
            <h1>Democracy</h1>
            <p class="lead">Voting syctem for a school</p>
            @if (!this.User.IsInRole("User") && !this.User.IsInRole("Admin"))
            {
                <p class="alert-danger">You must log in for operating in system </p>
            }
        </div>
        <div class="col-md-6">
            <img src="~/Content/Photos/capitolio.jpg"/>
        </div>

    </div>
    

    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Settings</h2>
        <p>
            Change your personal data an password
        </p>
        @Html.ActionLink("My Settings","MySettings","Users",new { }, new { @class = "btn btn-primary"})
    </div>

    <div class="col-md-4">
        <h2>My Votings</h2>
        <p>Vote for different candidates</p>
        @Html.ActionLink("My Votings","MyVotings","Votings", new { }, new { @class = "btn btn-warning"})
    </div>
    <div class="col-md-4">
        <h2>Result</h2>
        <p>
            See the votation result
        </p>
        @Html.ActionLink("Results", "Results", "Votings", new { }, new { @class = "btn btn-info" })
   </div>
</div>